@model GundamStore.Areas.Admin.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Product";
}

<div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">
                    Add new product
                </h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted " href="@Url.Action("Index", "Products")">Product</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            Add new product
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center mb-n5">
                    <img src="~/Template/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="card">
        <div class="card-body p-4 border-bottom">
            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <label for="name" class="form-label fw-semibold">Name</label>
                            <input type="text" class="form-control" id="name">
                            <span id="nameError" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="category" class="form-label fw-semibold">Category</label>
                            <select id="category" name="CategoryId" class="form-select" required>
                                <option value="" disabled selected>-- Select Category --</option>
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            </select>
                            <span id="categoryError" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="scale" class="form-label fw-semibold">Scale</label>
                            <select id="scale" name="ScaleId" class="form-select" required>
                                <option value="" disabled selected>-- Select Scale --</option>
                                @foreach (var scale in ViewBag.Scales)
                                {
                                    <option value="@scale.Id">@scale.Name</option>
                                }
                            </select>
                            <span id="scaleError" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="brand" class="form-label fw-semibold">Brand</label>
                            <input type="text" class="form-control" id="brand">
                            <span id="brandError" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label for="price" class="form-label fw-semibold">Price</label>
                            <input type="number" step="0.01" min="0.01" class="form-control" id="price" value="0.01">
                        </div>
                        <div class="mb-4">
                            <label for="quantity" class="form-label fw-semibold">Quantity</label>
                            <input type="number" min="1" class="form-control" id="quantity" value="1">
                        </div>
                        <div class="mb-4">
                            <label for="discount" class="form-label fw-semibold">Discount</label>
                            <input type="number" min="0" max="100" class="form-control" id="discount" value="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="carouselExampleControls" class="carousel slide carousel-dark text-center"
                            style="display: none ;" data-bs-ride="carousel">
                            <div class="carousel-inner" id="carousel-images"
                                style="padding-left: 80px; padding-right: 80px; box-sizing: border-box;">

                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <input class="form-control mt-6" type="file" id="formFileMultiple" multiple />
                        <span id="fileHelp" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="description" class="form-label fw-semibold">Description</label>
                    <div id="editor" style="height: 300px">

                    </div>
                </div>
                <div class="mb-4">
                    <button type="button" class="btn btn-primary" onclick="CreateNewProduct()">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        var CreateProductUrl = '@Url.Action("Create", "Products", new { area = "Admin" })';
        var quill = new Quill("#editor", {
            theme: "snow",
        });
    </script>
}