@{
    ViewData["Title"] = "Category";
}

<div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
        <div class="row align-items-center">
            <div class="col-9">
                <h4 class="fw-semibold mb-8">Category</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a class="text-muted "
                                href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            Category
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-3">
                <div class="text-center mb-n5">
                    <img src="~/Template/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="action-btn layout-top-spacing mb-7 d-flex align-items-center justify-content-between">
    <div class="mb-0 fs-5">
        <form class="position-relative">
            <input type="text" class="form-control search-chat py-2 ps-5" id="searchInput"
                placeholder="Search category">
            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
        </form>
    </div>
    <button class="btn btn-primary btn-add">Add category</button>
</div>

<div class="product-list"></div>

<div id="createCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="editCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div id="deleteCategoryModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            loadCategories();

            $('#searchInput').on('input', function () {
                var searchTerm = $(this).val();
                loadCategories(searchTerm);
            });
            
            toastr.options = {
                "positionClass": "toast-top-center", 
                "timeOut": 3000,                   
                "showMethod": "slideDown",                    
            };

            // Open Create Modal
            $(document).on('click', '.btn-add', function () {
                $.get('/Admin/Categories/Create/', function (data) {
                    $('#createCategoryModal .modal-content').html(data);
                    $('#createCategoryModal').modal('show');
                });
            });

            // Open Edit Modal
            $(document).on('click', '.btn-edit', function () {
                var id = $(this).data('id');
                $.get('/Admin/Categories/Edit/' + id, function (data) {
                    $('#editCategoryModal .modal-content').html(data);
                    $('#editCategoryModal').modal('show');
                });
            });

            // Open Delete Modal
            $(document).on('click', '.btn-delete', function () {
                var id = $(this).data('id');
                $.get('/Admin/Categories/Delete/' + id, function (data) {
                    $('#deleteCategoryModal .modal-content').html(data);
                    $('#deleteCategoryModal').modal('show');
                });
            });

            $(document).on('click', '#createCategoryBtn', function () {
                var form = $('#createCategoryForm');
                var formData = form.serialize();
                var name = $('#Name').val().trim();

                if (name === '') {
                    $('#NameError').show();
                    return;
                } else {
                    $('#NameError').hide();
                }

                $.ajax({
                    url: '@Url.Action("Create", "Categories")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#createCategoryModal').modal('hide');
                            toastr.success('Category created successfully!');
                            loadCategories(); 
                        } else {
                            toastr.error('Failed to create category. ' + response.errorMessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error('An error occurred while creating the category.');
                    }
                });
            });
           
            $(document).on('click', '#deleteConfirmBtn', function () {
                var form = $('#deleteCategoryForm');
                var formData = form.serialize();
                $.ajax({
                    url: '@Url.Action("DeleteConfirmed", "Categories")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#deleteCategoryModal').modal('hide');
                            toastr.success('Category deleted successfully!');
                            loadCategories(); 
                        } else {
                            toastr.error('Failed to delete category. ' + response.errorMessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error('An error occurred while deleting the category.');
                    }
                });
            });      
        
            $(document).on('click', '#editCategoryBtn', function () {
                var form = $('#editCategoryForm');
                var formData = form.serialize();
                var name = $('#Name').val().trim();

                if (name === '') {
                    $('#NameError').show();
                    return;
                } else {
                    $('#NameError').hide();
                }

                $.ajax({
                    url: '@Url.Action("Edit", "Categories")',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            $('#editCategoryModal').modal('hide'); 
                            toastr.success('Category updated successfully!');
                            loadCategories(); 
                        } else {
                            toastr.error('Failed to update category. ' + response.message); 
                        }
                    },
                    error: function (xhr, status, error) {
                        toastr.error('An error occurred while updating the category.');
                    }
                });
            });

            function loadCategories(searchText) {
                searchText = searchText || '';
                $('.loading-overlay').removeClass('d-none');
                $('.table-container').addClass('d-none');

                $.ajax({
                    url: '@Url.Action("ListCategories", "Categories")',
                    type: 'GET',
                    data: { searchText: searchText },
                    success: function (result) {
                        $('.product-list').html(result);
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: " + error);
                    },
                    complete: function () {
                        $('.loading-overlay').addClass('d-none');
                        $('.table-container').removeClass('d-none'); 
                    }
                });
            };
        });
    </script>
}